body{
    margin: 0 px;
    padding: 0 px;
    height: 2000px;
}
.qwerty{
    display: flex;
    justify-content: center;

}
.yozuvlar {
    text-align: center;
    justify-content: center;
}



/*ul {*/
/*    list-style-type: none;*/
/*    overflow: hidden;*/
/*}*/

/*li {*/
/*    float: left;*/
/*}*/

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu{
    text-align: center;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: grey;
}
/*img{*/
/*    width: 100%;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/

/*.menu{*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    margin: 0px;*/
/*    background: url("image/banner.jpg");*/
/*    float: left;*/
/*}*/
.banner{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: url("image/banner.jpg") transparent center /cover;
}