body {
	height: 2000px;
}
.container {
	position: fixed;
	height: 150px;
	width: 150px;
	top: 5%;
	left: 5%;
	background-color: blue;
}

.right-box {
	position: absolute;
	height: 140px;
	width: 140px;
	top: 2%;
	right: 2%;
	background-color: red;
}